
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.navbar {
    background: #eee;
}

.body-content {
    /* background: yellow; */

}

li {
    list-style: none;
}

footer {
    align-self: flex-end;
}