
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Gill Sans';
}

.site-header {
    background: black;
    padding: 0.5em;
}

.site-header h1 {
    color: white;
}

.body-content {
    /* background: yellow; */
    flex: 1;
    background: red;
    padding: 2em;
}

.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

.movie-list li {
    display: flex;
    list-style: none;
    margin-right: 2em;
    margin-bottom: 2em;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.movie-list li:hover {
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
}

.movie-list li a {
    height: 100%;
}

.movie-list li a img {
    height: 100%;
    width: 100%;
}

.movie-detail-container {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);

}

.movie-detail-info {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.detail-value {
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    background: black;
    color: white;
    padding: 1em;
}