<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css')}}" />
    </head>

    <body>
        <header class="site-header">
            <a href="/">
                <h1>PopMo</h1>
            </a>
        </header>

        <main class="body-content">
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <span>&copy; Jesse Levine 2019</span>
            |
            <span>
                <a href="">GitHub</a>
            </span>
        </footer>
    </body>
</html>