{% extends "layout.html" %}
{% block content %}
    <div class="movie-detail-container">

            <img src="{{ movie.poster_url }}"/>
        <div class="movie-detail-info">
            <h2>{{ movie.title }}</h2>
            <div>
                <label>Popularity Score:</label>
                <label>{{ movie.popularity }}</label>
            </div>
            <div>
                <label>Release Date:</label>
                <label>{{ movie.release_date }}</label>
            </div>
        </div>
    </div>
{% endblock %}