{% extends "layout.html" %}
{% block content %}
    <div class="movie-detail-container">

            <img src="{{ movie.poster_url }}"/>
        <div class="movie-detail-info">
            <h2>{{ movie.title }}</h2>
            <div>
                <label>
                    Popularity Score:
                    <span class="detail-value">{{ movie.popularity }}</span>
                </label>
                
            </div>
            <div>
                <label>
                    Release Date:
                    <span class="detail-value">{{ movie.release_date }}</span>
                </label>
            </div>
        </div>
    </div>
{% endblock %}